* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: "Space Grotesk", sans-serif;
    color: black;
}

.nav-bar {
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: Hug (68px)px;
    padding: 0px 100px 0px 100px;
    margin-top: 60px;
    flex-wrap: wrap;

}

.nav-left img {
    width: Hug (219.54px)px;
    height: Hug (56px)px;
    padding: 10px 0px 10px 0px;
    /* gap: 10px;
    opacity: 0px;
     */
}

.nav-right {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: baseline;

}

.nav-right .nav-item {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    /* width: 67px;
height: 28px; */
}

.nav-right button {
    width: Hug (231px)px;
    height: Hug (68px)px;
    padding: 20px 35px 20px 35px;
    gap: 10px;
    border-radius: 14px;
    border: 1px solid black;
    background-color: inherit;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;

}

.nav-right .menu-icon {
    margin-right: 20px;
    display: none;
}

.hero {
    display: flex;
    flex-direction: row;
    width: Fixed (1, 440px)px;
    height: Hug (515px)px;
    padding: 0px 100px 0px 100px;
    justify-content: space-between;
    margin-top: 70px;

}

.hero-left {
    width: Hug (531px)px;
    height: Hug (481px)px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    opacity: 0px;
}

.hero-left h1 {
    width: 531px;
    height: 231px;

    font-size: 60px;
    font-weight: 500;
    line-height: 76.56px;
    text-align: left;
}

.hero-left p {

    width: 498px;
    height: 112px;

    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}

.hero-left button {
    /* width: Hug (264px)px;
height: Hug (68px)px; */
    padding: 20px 35px 20px 35px;
    gap: 10px;
    border-radius: 14px;
    background-color: #191A23;
    color: #FFFFFF;
    align-self: self-start;


}

.hero-right img {
    width: 600.46px;
    height: 515px;
    border: 1px;
}

.logos {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    height: Hug (48px)px;
    filter: grayscale(100%);
    background-blend-mode: luminosity;

}

.logos img {
    width: 124.11px;
    height: 48px;

}

.logos img:nth-child(2) {
    width: 126.37px;
    padding: 9.07px 0.6px 11.7px 0px;
}

.services {
    margin-top: 140px;
    margin-bottom: 140px;
    gap: 40px;
    align-items: baseline;
    padding-left: 100px;
    height: Hug (51px)px;

}

.services h3 {

    padding: 0px 7px 0px 7px;
    gap: 10px;
    border-radius: 7px;
    background-color: #B9FF66;
    border: none;

}

.services p {
    width: Fixed (1, 440px)px;
    height: Hug (51px)px;
    padding: 0px 100px 0px 100px;
    gap: 40px;
    /* width: 580px;
height: 46px; */
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: Hug (310px)px;
    gap: 40px;
    opacity: 0px;
    align-items: center;

}

.card {
    width: 50%;
    height: Hug (310px)px;
    border-radius: 45px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 5px 0px 0px #191A23;
    align-items: center;
}

.card .card-img {
    width: 210px;
    height: 170px;
    padding: 70px auto;
}

.card h3 {
    margin: 0;
    padding: 0;
}

.bg-green {
    background-color: #B9FF66;
}

.text-green {
    background-color: #B9FF66;
}

.card-body {
    width: Fixed (600px)px;
    height: Hug (310px)px;
    padding: 50px;
    border-radius: 45px;
    border: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#card2 {
    color: black;
}

.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-top: 93px;

}

.inner img {
    width: 41px;
    height: 41px;
}


.box {
    box-shadow: 0px 5px 0px 0px #191A23;
    height: Hug (279px)px;
    padding: 41px 60px 41px 60px;
    gap: 30px;
    border-radius: 45px;
    border: 1px solid black;
    opacity: 0px;
    transition: all 0.3s ease;
    background-color: #F3F3F3;
}

.upper {
    display: flex;
    justify-content: start;
    position: relative;
}

.upper img {
    position: absolute;
    right: 57px;
    cursor: pointer;
}


.content {
    display: none;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    margin-top: 30px;

}

.form-container {
    background-color: #F3F3F3;
    padding: 0;
    border-radius: 45px;
    justify-content: space-between;
    margin-bottom: 140px;
}

.web-from {
    width: 50%;
    object-fit: cover;
}

.form-container form {
    margin: 60px 217px 80px 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.web-from img {
    width: 691.57px;
    height: 648px;

    border-radius: 45px 0px 0px 0px;

}

.radio {
    font-family: Space Grotesk;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.97px;
}



.form-container button {
    width: Fixed (556px)px;
    height: Hug (68px)px;
    padding: 20px 35px 20px 35px;
    gap: 10px;
    border-radius: 14px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

/* form css */
.form-check-input:checked[type=radio] {
    background-image: url('./images/logos/Radiobutton.svg');
}

.form-check-input:checked {
    background-color: #FFFFFF;
    border-color: #000;
}

.form-check-label {
    font-size: 16px;
    color: #000;
}

#user_email,
#user_name {
    width: Fixed (556px)px;
    height: Hug (59px);
    padding: 18px 30px 18px 30px !important;
    gap: 10px;
    border-radius: 14px !important;
    border: 1px solid black !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 22.97px !important;
    text-align: left;
}

#user_message {
    width: Fixed (556px)px;
    height: Fixed (190px)px;
    padding: 18px 30px 18px 30px;
    border-radius: 14px;
    border: 1px solid black !important;
}

footer .footer-container {
    border-radius: 45px 45px 0 0;
}

.footer-upper {
    padding: 50px 60px;
}

.topsection {
    flex-direction: row;
    justify-content: space-between;
}

.topsection ul {
    list-style-type: none;
    justify-content: space-between;
    gap: 40px
}

.topsection li {
    font-size: 18px;
    font-weight: 400;
    line-height: 22.97px;
    text-align: left;
    text-decoration: underline;

}

.topsection-right img {
    padding: 0px 10px;
}

.footer-contact {
    justify-content: space-around;
    margin-bottom: 50px;
    border-bottom: 1px solid #FFFFFF;
}

.address {
    gap: 20px;
}

.address h4 {
    /* width: Hug (126px)px;
    height: Hug (26px)px; */
    padding: 0px 7px 0px 7px;
    gap: 10px;
    border-radius: 7px;
    align-self: flex-start;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.52px;
    text-align: left;
}

.address p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22.97px;
    text-align: left;
    color: #FFFFFF;
}

.address p a {
    text-decoration: none;
    color: #FFFFFF;
}



.contact {
    margin-top: 58px;
    margin-bottom: 58px;
    justify-content: space-around;
    padding: 58px, 40px;
    gap: 20px;
    /* width: Hug (634px)px;
        height: Hug (184px)px; */
    align-items: center;
    border-radius: 14px;
    background-color: #292A32;
}

#contact_email {
    /* width: 285px;
    height: 67px; */
    padding: 22px 35px 22px 35px;
    border: 1px solid #FFFFFF;
    background-color: #292A32;
    border-radius: 14px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.97px;
    text-align: left;
    margin-left: 20px;
    margin-right: 5px;
}

.btn-sub {
    /* width: 249px;
    height: 68px; */
    padding: 20px 35px 20px 35px;
    gap: 10px;
    border-radius: 14px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-left: 5px;
    margin-right: 20px;
}

.footer-bottom {
    justify-content: flex-start;
    gap: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    padding: 50px auto 50px 60px;
    padding-left: 70px;
}

@media only screen and (max-width: 430px) {
    .nav-right .menu-icon {
        margin-right: 20px;
        display: none;
    }
}